:root{
  --font1: 'Bitter', serif;
  --font2: 'Domine', serif;
  --fontHW: 'Lateef', cursive;
  --fontHW2: 'Charm', cursive;
  --fontHW3: 'Markazi Text', serif;

  --blu-chiaro: rgb(4, 38, 66);

  --blu-scuro: rgb(2, 26, 46);
  --blu-scurissimo: rgb(1, 16, 29);

  --grigio-chiaro: rgb(232, 230, 227);
  --grigio-scuro: rgb(217, 213, 206);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root{
  height: 100%;
}

.App{
  position: relative;
  min-height: 100%;
  
  background: rgb(235, 235, 235);
  background: #01121F;
  background: var(--blu-scuro);
  background: rgb(122, 108, 93);
  background: rgb(124, 88, 49);
  background: rgb(212, 230, 206);
  
  background: var(--blu-scuro);
  /* background: white; */
  /* background: var(--grigio-scuro); */

  display: flex;
  flex-direction: column;
}

.lateral-comp{
  position: fixed;

  top: 0;
  left: 0;


  width: 71px;
  height: 100vh;

  background: var(--blu-chiaro);
  
}

.fixed-comp{
  position: fixed;
  margin-top: -122px;

  width: 56px;

  height: 245px;

  left: 8px;
  top: 50%;
  bottom: 50%;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
  z-index: 1;
}

.fixed-comp div{
  border: 2px solid greenyellow ;
  

  border-radius: 50%;

  cursor: pointer;
}

.fixed-comp img{
  
  width: 100%;
  height: auto;
  
  display: block;
  border-radius: 50%;
}

.fixed-comp div:hover{
  transform: scale(1.05)
}


/* middle component */

.middle-comp{

  margin-left: 25px;

  display: flex;
  flex-direction: column;
  align-items: center;

}

.middle-comp h1{
  margin-top: 0.4em;
  margin-bottom: 0.3em;

  color: var(--grigio-scuro);
  

  font-family: var(--fontHW3);
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 0.05em;

}

.bio-div{
  margin-bottom: 1.5em;
  width: 70%;

  display: grid;
  grid-template-columns: 1fr 1fr;  
}

.img-div{
  margin-left: auto;
}

.img-div img{
  max-width: 300px;
  width: 100%;
  height: auto;

  display: block;

  border-bottom-left-radius: 0.44em;
  border-top-left-radius: 0.4em;
  border: 1px solid yellowgreen;
  border-right: none;
   
}

.p-div{
  margin-right: auto;
  padding-top: 0.4em;
  padding-left: 0.35em;

  max-width: 320px;
  width: 100%;

  background: var(--blu-scuro);
  background: var(--blu-scurissimo);
  background: white;
  background: var(--blu-chiaro);
  
  border-bottom-right-radius: 0.4em;
  border-top-right-radius: 0.4em;
  border: 1px solid yellowgreen;
  border-left: none;
  
}

.bio-div p{

  max-height: 300px;

  color: var(--grigio-chiaro);

  font-family: var(--font2);
  font-size: 1.08em;
  letter-spacing: 0.03em;
  line-height: 1.25em;
}

.seconda-parte-bio{
  margin-top: 0.3em;
}


.middle-comp h2{
  margin-top: 0.2em;
  color: var(--grigio-scuro);
  /* color: var(--blu-scurissimo); */
  
  font-family: var(--fontHW2);

  font-size: 2.03em;
  letter-spacing: 0.07em;
}

.middle-comp h3{
  
  color: var(--grigio-chiaro);


  font-family: var(--fontHW);
  font-style: italic;
  font-size: 1.85em;
  letter-spacing: 0.08em;
}

.middle-projects-div{
  margin-top: 0.2em;
  margin-bottom: 1.5em;
  padding: 1em 1.3em;

  width: 78%;

  background: var(--blu-chiaro);
  
  border-radius: 0.3em;
  
  border: 2px solid yellowgreen;
  border: 2px solid greenyellow;

  display: flex;
  flex-direction: column;
}
/* fine middle component */
.project-div{

  margin-top: 1.3em;
  margin-bottom: 3em;

  display: grid;

  grid-template-columns: 1fr 1fr;
}

.project-div img{
  width: 500px;
  height: auto;
} 

.right-div{
  position: relative;
  top: -0.8em;

  margin-left: 0.1em;
  padding: 0.3em;
}

.proj-title{
  text-align: center;
}

.techs-used-div{
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.box-tech-div{
  margin-top: 0.25em;
  margin-right: 0.6em;
  padding: 0.2em 0.7em;

  background: greenyellow;

  font-family: var(--font2);
  font-size: 0.84em;
  font-weight: bold;
  letter-spacing: 0.06em;
  border-radius: 2em;
}

.description-div{
  margin-top: 1.2em;
  margin-bottom: 1.1em;
}

.description-div p{

  min-height: 100px;

  color: var(--grigio-chiaro);

  font-family: var(--font1);
  font-size: 1.01em;
  letter-spacing: 0.03em;
  line-height: 1.35em;

  text-align: center;
}

.proj-links{
  margin-top: 1em;
  text-align: center;
}

.proj-links a{
  margin-left: 0.7em;
  margin-right: 0.7em;

  padding: 0.27em 1em;

  background: #f5d108;
  color: black;
  border-radius: 1em;

  font-family: var(--font1);
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 0.07em;
  text-decoration: none;
}

.proj-links a:hover{
  
  padding: 0.26em 0.9em;

  background: var(--blu-chiaro);
  color: #f5d108;
  
  
  border: 2px solid #f5d108;
  
}

/* fine project div */

/* bottom component */

.bottom-comp {
  margin-top: auto;

  padding-top: 1.9em;
  padding-bottom: 1.6em;

  background: var(--blu-scurissimo);

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  z-index: 1;
}

.bottom-comp p{

  margin-top: 0.2em;

  padding-right: 0.7em;
  padding-left: 0.7em;

  color: var(--grigio-chiaro);
  font-size: 0.95em;
  letter-spacing: 0.03em;
}

/* bottom component */

@media screen and (max-width: 720px){
  .lateral-comp{
    width: 61px;
  }

  .fixed-comp{
    width: 46px;
  }

  .middle-comp{
    margin-left: 20px;
  }
}
@media screen and (max-width: 1302px){
  .middle-projects-div{
    width: 84%;
  }
}

@media screen and (max-width: 1030px){
  .bio-div{
    width: 84%;
  }

  .proj-links{
    margin-top: 0.5em;
  }
}

@media screen and (max-width: 928px){
  .bio-div{
    width: 82%;
  }
  
  .middle-projects-div{
    width: 82%;
  }
  
  .project-div{
    padding-bottom: 2em;
    border-bottom: 2px solid black;
    grid-template-columns: 1fr;
  }

  .project-div:last-child{
    border-bottom: none;
  }

  .left-div img{
    margin: auto;
    margin-bottom: 0.7em;

    display: block;
  }

  .description-div{
    margin-bottom: 0;
  }

}

@media screen and (max-width: 834px){
  .bio-div{
    display: grid;
    grid-template-columns: 1fr;
  }

  .bio-div p{
    max-height: 310px;
    padding: 0.2em;
    font-size: 1em;    
  }

  .img-div{
    margin: auto;
  }
  
  .img-div img{
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.4em;
    border: 1px solid yellowgreen;
    border-bottom: none;
  }

  .p-div{
    margin: auto;
    max-width: 300px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.4em;
    border: 1px solid yellowgreen;
    border-top: none;
  }

}

@media screen and (max-width: 660px){


  .lateral-comp{
    width: 54px;
  }

  .fixed-comp{
    /* margin-top: -57px; */
    width: 40px;
  }

  .left-div img{
    width: 100%;
  }

  .proj-links{
    margin-top: 1em;
  }
}

@media screen and (max-width: 500px){
  .bio-div{
    width: 80%;
  }

  .middle-comp h1{
    font-size: 1.95em;
  }
  
  .proj-links{
    margin-top: 1.5em;
  }

  .lateral-comp{
    width: 46px;
  }

  .fixed-comp{
    /* margin-top: -46px; */
    width: 32px;
  }
  .middle-projects-div{
    width: 80%;
  }
}

@media screen and (max-width: 360px){
  .bio-div{
    width: 78%;
  }

  .bio-div p{
    max-height: 325px;
  }

  .p-div p{
    font-size: 1em;
  }

  .middle-comp h1{
    font-size: 1.9em;
  }

  .middle-projects-div{
    width: 78%;
  }
}

@media screen and (max-height: 550px){
  .fixed-comp{
    margin-top: -105px;
    height: 210px;
  }
}

@media screen and (max-height: 300px){
  .fixed-comp{
    margin-top: -90px;
    height: 180px;
  }
}